In [2]:
import os

In [3]:
%pwd

'/home/naveen/Naveen/Projects/customer_satisfaction/research'

In [4]:
%cd /home/naveen/Naveen/Projects/customer_satisfaction

/home/naveen/Naveen/Projects/customer_satisfaction

In [5]:
%pwd

'/home/naveen/Naveen/Projects/customer_satisfaction'

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("/home/naveen/Naveen/Projects/customer_satisfaction/data/olist_customers_dataset.csv")

In [8]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [12]:
df.sum()

customer_id                 06b8999e2fba1a1fbc88172c00ba8bc718955e83d337fd...
customer_unique_id          861eff4711a542e4b93843c6dd7febb0290c77bc529b7a...
customer_zip_code_prefix                                           3494105610
customer_city               francasao bernardo do camposao paulomogi das c...
customer_state              SPSPSPSPSPSCSPMGPRMGMGRJSPSPRSSPRJSPSPPASCGOSP...
dtype: object

In [13]:
list(df.columns)

['customer_id',
 'customer_unique_id',
 'customer_zip_code_prefix',
 'customer_city',
 'customer_state']